* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

header {
    padding: 16px 86px ;
    background-color: #ca4545;
    color: #c8fdaf;
    
}

header nav li {
display: inline;
margin-left: 24px;
font-size: 18px;
}

header nav li a {
    color: #c8fdaf;
    text-decoration: none;
    font-weight: bold;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ca4545;
    font-family: 'Indie Flower', cursive;
}

header .container h1 {
    font-size: 30px;
}

.img_quemsomos,
.imagem {
    height: 360px;
    padding: 12px;
}

.container,
.ingredients {
    display: flex;
    justify-content: center;
    background-color: #c8fdaf;
}

.ingredients {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    background-color: #c8fdaf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #662e0d;
}

#about,
#receita {
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    background-color: #c8fdaf;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #662e0d;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 24px;
    background-color: #c8fdaf;
}

#receita h2{
    font-size: 28px;
}
section h2,
h3,
p {
    display: flex;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #662e0d;
}

section h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 22px;
    font-weight: bold;
}

 #midias h3{
    color: #ca4545;
}

.social-links img {
    height: 24px;
 }
 
 .social-links li {
    display: inline;
    margin-right: 36px;
 }
 
 .social-links li a {
    text-decoration: none;
 }

 form button,
 form input {
    display: inline;
    width: 120px;
    margin-bottom: 8px;
    padding: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
 }

 form input {
    width: 520px;
    border: none;
    cursor: pointer;
 }

 form button {
    background-color: #abdf93;
    color: #ca4545 ;
    border: none;
    cursor: pointer;
 }

 form button:hover {
    background-color: #662e0d;
 }
 #news {
    display: flex;
    justify-content: center;
    padding: 32px;
 }

 .new {
    background-color: #ca4545;
    padding: 32px;
 }

 .new h3 {
    color: #abdf93;
    font-size: 24px;
    font-family: 'Indie Flower', cursive;
 }

footer {
background-color: #c8fdaf;
color: #662e0d;
padding: 16px;
display:block;
align-items: center;
justify-content: center;
text-align: center;
}
